{% extends 'core/base_without_navbar.html' %}
{% block content%}

{% include 'core/messages.html' %}
  <h2 class="text-center mt-5 "><strong>Giriş Yap </strong> </h2>

<div class="bg-warning mt-4 py-5 border border-dark ">

  <div class="container px-5 ">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <form method="post">
          <!-- csrf_token,name ve method bilgisi olmalı(post methodu) -->
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-dark">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
  {% endblock content%}